*{
    margin: 0;
}

.container{
    border: 2px solid black;
    text-align: center;
}
.header{
    height: 100px;
    background-color: tomato;

}
.wrapper{
    display: flex;
}
.blog{
    width: 70%;
    background-color: blueviolet;
}
.contact{
    width: 30%;
    height: 100px;
    background-color: salmon;
}
.footer{
    height: 100px;
    background-color: chartreuse;
}